body,ul,li{
  padding: 0;
  margin: 0;
}
.clearFloat(){
  &:before,&:after{
    content: " ";
    display: block;
    clear: both;
  }
}
#container{
  width:800px;
  height: 480px;
  margin: 0 auto;
  border: 1px #222222 solid;
  overflow: hidden;
  position: relative;
}
#banner{
  list-style: none;
  height: 480px;
  .clearFloat();
  & > li{
    height: 480px;
    overflow: hidden;
    float: left;
    line-height: 480px;
    & > img{
      width: 100%;
      vertical-align: middle; //去除图片下沉
    }
  }
}

#slide-dot-box{
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  & .slide-dot{
    display: inline-block;
    border-radius: 50%;
    border: #aaa 2px solid;
    width: 18px;
    height: 18px;
    background: #fff;
    margin: 4px;
    cursor: pointer;
  }
  & .slider-dot-selected{
    background: gold;
  }
}

#slide-arrow-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  & .slide-arrow{
    cursor: pointer;
    width: 100px;
    text-align: center;
    align-self: center;
  }
}


